


#header {
	/*background-color: rgba(114,43,4,1);*/
	background-color: #67666b;
	/*border-bottom: 3px white double;*/
	border-left: 2em dotted #293948;
	border-right: 2em dotted #293948;
	border-bottom: 1px double white;
}
#header p {
	color: white;
	padding: 0 0 2em 0;
	text-align: center;
}
h1 {
	color: white;
	font-family: 'PT Serif', serif;
	padding: 7% 0 1em 0;
	text-align: center;
	font-size: 3.5em;
}
h2 {
	font-family: 'PT Serif', serif;
	font-size: 2.2em;
	padding-top: 1%;
	padding-bottom: 4%;
	text-align: center;
	margin-top: .5em;
}


#magiSeries a {
	color: #eee;
}
.narrow {
	padding: 0 10em 1em 10em;
}
#magiBooks {
	/*background-color: rgb(255,245,226);*/
	/*background-color: rgb(57,58,78);*/
	/*border-bottom: 3px black double;*/
	border-bottom: 1em solid rgb(57,58,79);
	padding-top: 4%;
}
#magiSeries a {
	/*color: black;*/
}
#magiSeries a:hover {
	color: #1EAEDB;
}
img#darkStarImg {
	width: 160px;
	padding: 0 2.5em 1em 2.5em;
}
#profilePicDiv {
	/*border: 3px double rgba(114,43,4,1);*/
	/*background-color: #9A8066;*/
	background-color: #67666b;
}
img#profilePic {
	width: 125px;
	/*margin-left: 5%;*/
	margin-bottom: -1.5em;
	margin-top: -3em;
	border-radius: 10%;
	padding-bottom: 1em;
} 
#fadingMoonsImg {
	width: 160px;
	padding: 0 2.5em 1em 2.5em;
}
.links {
	width: 100%	;
}

#getSocial {
	width: 100%;
}
.iconPurchase a {
	letter-spacing: .13em;
	font-family: 'Seaweed Script', cursive;
	font-size: 2em;
	margin-top: 1em;
}

.socialIconsP {
	width:100%;
}
.buyIcon {
	width: 125px;
	padding: 0 1em;
}
#buyAmazon a {
	/*color: #434146;*/
}
#buyBN a {
	/*color: #966a64;*/
}
#buyGoogle a {
	/*color: #434146;*/
}
#buyiTunes a {
	/*color: #966a64;*/
}
/*#iconAmazon a:hover {text-transform: uppercase; font-weight: bolder;}*/
/*#iconBN a:hover {text-transform: uppercase; font-weight: bolder;}*/
/*#iconGoogle a:hover {text-transform: uppercase; font-weight: bolder;}*/
/*#iconiTunes a:hover {text-transform: uppercase; font-weight: bolder;}*/

/*#purchaseLinks {
	text-align: center;
}*/
/*#amazonIcon {width: 85px; padding: 0 2em 0 2em;}
#barnesNobelIcon {width: 85px; padding: 0 2em 0 2em;}
#googleIcon {width: 85px; padding: 0 2em 0 2em;}
#iTunesIcon {width: 85px; padding: 0 2em 0 2em;}
#facebookIcon {width: 85px; padding: 0 2em 1em 2em;}
#twitterIcon {width: 85px; padding: 0 2em 1em 2em;}*/

.styleIcons {
	width: 85px; 
	padding: 0 5em;
}

#description {
	padding: 0 3em 0 1em;
}
.indent {
	padding: 0 2em;
}
.promo {
	font-weight: 900;
	font-size: 1.5em;
}

.social {
	padding: 3em;
}
#dennis {
	padding: 0 3em;
}
#videoDiv {
	/*display: inline-block;*/
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* SHARED QUERIES ARE LOCATED ON SKELETON CSS (headers/footers,etc) */
/* mobile */
@media only screen and (min-width: 375px) {
	.narrow {
		padding: 0 1em 1em 1em;
	}
	#magiSeries {
	/*background-color: rgb(255,245,226);*/
	background-color: #031424;
	border-top: 3px black double;
	padding-left: 3%;
	color: #eee;
	}
	.buySocial {
	padding-top: 2em;
	text-align: center;
	font-weight: 900;
	font-size: 1.5em;
	letter-spacing: .3em;
	color: black;
	text-decoration: underline;
	}
	/* GLOBAL ANCHORS ON LINE 104 and in skeleton css */
	#buyAmazon a {}
	#buyBN a {}
	#buyGoogle a {}
	#buyiTunes a {
		/*font-weight: 700;*/
	}
	#footer {
		margin-top: 69%;
		background-color: #30515d;
		color: white;
		height: 80px;
	}
	#footer a {color: #eee;}
	#footLinks {padding-top: 2em;}
}

/* Larger than phablet (also point when grid becomes active) */
@media only screen and (min-width: 550px) {
	.narrow {
		padding: 0 2em 1em 2em;
	}
	#magiSeries {
	/*background-color: rgb(255,245,226);*/
	background-color: #031424;
	border-top: 3px black double;
	padding-left: 5%;
	color: #eee;
	}
	.buySocial {
	padding-top: 2em;
	text-align: center;
	font-weight: 900;
	font-size: 1.6em;
	letter-spacing: .25em;
	color: black;
	text-decoration: underline;
	}
	#buyAmazon a {}
	#buyBN a {}
	#buyGoogle a {}
	#buyiTunes a {
		/*font-weight: 700;*/
	}
	#footer {
		margin-top: 47%; 
		background-color: #30515d;
		color: white;
		height: 89px;
		border-top: 3px white double;
	}
	#footer a {color: #eee;}
	#footLinks {padding-top: 2em;}
	
}

/* tablet */
@media only screen and (min-width: 750px) {
	.narrow {
		padding: 0 8em 1em 8em;
	}
	#magiSeries {
	/*background-color: rgb(255,245,226);*/
	background-color: #031424;
	border-top: 3px black double;
	padding-left: 1%;
	color: #eee;
	}
	.buySocial {
	padding-top: 2em;
	text-align: center;
	font-weight: 900;
	font-size: 1.7em;
	letter-spacing: .5em;
	color: black;
	text-decoration: underline;
	}
	#buyAmazon a {}
	#buyBN a {}
	#buyGoogle a {}
	#buyiTunes a {
		font-weight: 700;
	}
	#footer {
		margin-top: 46%
		background-color: #30515d;
		color: white;
		height: 100px;
		border-top: 3px white double;
	}
	#footer a {color: #eee;}
	#footLinks {padding-top: 2em;}
}

/* DESKTOP */
@media only screen and (min-width: 1250px) {
	.narrow {
		padding: 0 10em 1em 10em;
	}
	#magiSeries {
	/*background-color: rgb(255,245,226);*/
	background-color: #031424;
	border-top: 3px black double;
	padding-left: 1%;
	color: #eee;
	}
	.buySocial {
	padding-top: 2em;
	text-align: center;
	font-weight: 900;
	font-size: 1.7em;
	letter-spacing: .5em;
	color: black;
	text-decoration: underline;
	}
	#footer {margin-top: 44%;}
	#footer {
	/*background-color: rgba(114,43,4,1);*/
	background-color: #30415d;
	color: white;
	height: 100px;
	border-top: 3px white double;
	/*margin-top: 44%;*/
	margin-top: 50%;
	}
	#footer a {
		color: #eee;
	}
	#footLinks {
		padding-top: 2em;
	}
}

/* Larger than Desktop HD */
/*@media only screen and (min-width: 1251px) {
	.narrow {
		padding: 0 10em 1em 10em;
	}
	#footer {margin-top: 44%;}
}*/

