#header1 {
	background-color: rgba(114,43,4,1);
}
#header2 {
	background-color: rgba(114,43,4,1);
}
#photoHeader {
	background-color: rgba(114,43,4,1);
}
h1 {
	color: white;
	font-family: 'PT Serif', serif;
	padding: 2em 0 0 0;
	text-align: center;
	font-size: 3.5em;
}
h2 {
	color: white;
	font-family: 'PT Serif', serif;
	font-size: 1.5em;
	padding: 0 0 5% 0;
	text-align: center;
}
h3 {
	color: white;
	font-size: 2.4em;
	color: #FFE035;
	padding: 1em;
}
img#profilePic {
	width: 150px;
	margin-left: 5%;
}
#purchaseLinks {
	padding: 1em;
}
#darkStarImg {
	width: 400px;
}
#darkStarDiv {
	background-color: rgb(255,245,226);	
	padding: 1em;
}
#description {
	padding: 0 3em 0 1em;
}
#social {
	padding: 1em;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#footer1 {
	background-color: rgba(114,43,4,1);
	color: white;
	padding-top: 2em;
}
#footer2 {
	background-color: rgba(114,43,4,1);
}
.listIndent1 {
	margin-left: 40%;
}
.listIndent3 {
	margin-left: 38%;
}


/* SHARED QUERIES ARE LOCATED ON SKELETON CSS (headers/footers,etc) */
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}