#header {
	background-color: rgba(95,43,4,1);
	/*position: relative;*/
}
#photoHeader {
	background-color: rgba(95,43,4,1);
}
h1 {
	color: white;
	text-align: center;
	font-family: 'PT Serif', serif;
	padding-top: 4%;
	font-size: 3.5em;
}
h2 {
	color: white;
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 1.5em;
	padding-bottom: 5%;
	margin: 0;
}
h3 {
	color: white;
	font-size: 2.4em;
	color: #FFE035;
	padding: 1em;
}
img#profilePic {
	width: 90%;
	padding: 2em;
	/*margin: -18em 1em 0 0;*/
	/*position: absolute;*/
	/*right: 0%;*/
	/*bottom: 1%;*/
	/*border-radius: 50%;*/
}
#purchaseLinks {
	padding: 1em;
}
#darkStarImg {
	width: 100%;
}
#description {
	padding: 0 3em 0 1em;
}
#social {
	padding: 1em;
}
#footer {
	background-color: rgba(95,43,4,1);
	color: white;
}
#buyLinksFooter {
	padding: 2em 2em .5em 2em;
}
#socialLinksFooter {
	padding: 2em 0 .5em 2em;
}
.footLinks {
	padding: 1em;
	align: center;
}
